.my-title {
    margin-top:50px;
    text-align:center;
    font-size: 60px;
    color: #E91E63;
}
.my-subtitle {
    margin-bottom:60px;
    margin-top:20px;
    font-size: 25px;
    text-align:center;
    color: #ffffff;
}

.wrapper {
    margin-top:10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardList {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.cardList > * {
    box-sizing: border-box;
}
.cardListItem {
    margin:10px;
    height: 150px;
    flex: 1 1 420px;
    flex: 0 1 420px;
}
.cardListLargeItem {
    margin:10px;
    height: 150px;
    flex: 1 1 420px;
    flex: 0 1 860px;
}

.input-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.input-grid > * {
    box-sizing: border-box;
}
.input-grid-item {
    margin-left:10px;
    margin-right: 10px;
}

.avatar {
    transform: scale(2);
    margin-left:5px;
    color: #B0BEC5;
}
.zoom {
    transition: transform .2s;
}
.zoom:hover {
    transform: scale(1.05);
}
.zoom-fab {
    transition: transform .2s;
}
.zoom-fab:hover {
    transform: scale(1.2);
}

.card-content {
    text-align: center;
    margin: 20px 20px 20px 20px;
    font-size: 40px;
    color: #69F0AE;
}

.input-text {
    color:#ffffff;
}

.my-icon-2 {
    color: #B0BEC5;
    margin-bottom:20px;
    transform: scale(4);
}

.read-further-button {
    background-color: #69F0AE;
    color: #000000;
    bottom: 10px;
    left:15px;
    position: absolute;
}
