mat-toolbar {
    position: fixed;
    top: 0;
    z-index: 1000;
    min-height: 50px !important;
    height: 50px !important;
}

.app-body {
    overflow: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 50px;
}

.app-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
